POSTGRES_DB=onac_lista_pia
POSTGRES_USER=onac
POSTGRES_PASSWORD=onac123
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/onac_lista_pia

# Opcional — perfil tools: docker compose --profile tools up -d
PGADMIN_DEFAULT_EMAIL=admin@onac.local
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050
